.default-color0.chart-line-symbol {  -fx-scale-x: 0;  -fx-scale-y: 0;  }
.default-color1.chart-line-symbol {  -fx-scale-x: 0;  -fx-scale-y: 0;  }
.default-color2.chart-line-symbol {  -fx-scale-x: 0;  -fx-scale-y: 0; }
.default-color3.chart-line-symbol {  -fx-scale-x: 0;  -fx-scale-y: 0;  }
.default-color4.chart-line-symbol {  -fx-scale-x: 0;  -fx-scale-y: 0;  }
.default-color5.chart-line-symbol {  -fx-scale-x: 0;  -fx-scale-y: 0; }
.default-color6.chart-line-symbol {  -fx-scale-x: 0;  -fx-scale-y: 0; }
 
.default-color0.chart-series-line {  -fx-stroke: steelblue;  -fx-stroke-width: 2px;  }
.default-color1.chart-series-line {  -fx-stroke: derive(steelblue, -25%);  -fx-stroke-width: 2px;  }
.default-color2.chart-series-line {  -fx-stroke: #ff4500ad;  -fx-stroke-width: 2px; -fx-opacity: 0.5; }
.default-color3.chart-series-line {  -fx-stroke: derive(orangered, -25%);  -fx-stroke-width: 2px; -fx-opacity: 0.5; }
.default-color4.chart-series-line {  -fx-stroke: orange;  -fx-stroke-width: 2px;  }
.default-color5.chart-series-line {  -fx-stroke: yellow;  -fx-stroke-width: 2px;  }
.default-color6.chart-series-line {  -fx-stroke: red;  -fx-stroke-width: 2px;  }

.chart-area-symbol { visibility: hidden; }

.chart-content {
    -fx-padding: 2px;
}

.default-color0.chart-symbol { 
    -fx-background-color: steelblue;
    -fx-background-radius: 2px;
    -fx-padding: 2px
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.axis {
    -fx-minor-tick-visible: false;
    -fx-minor-tick-length: 0;
}

.axis:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

/*
.chart-plot-background {
    -fx-background-color: linear-gradient(to right, blue, yellow, red);
}
*/

.chart {
    -fx-padding: 2px;
    -fx-font-size: 0.8em;
    -fx-text-fill: #4682b4;   
}
