.root {
    -fx-font-family: "Droid Sans";
    -fx-font-smoothing-type: lcd; 
    -fx-font-size: 13px;
    -fx-base: #D0D0D0;
    -fx-background-color: #dcdcdc;
    -fx-focus-color: #0093ff;
    -fx-control-inner-background: #FFFFFF;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,74.0%) 0%, derive(-fx-color,36.400000000000006%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 35.0%) 0%, derive(-fx-color, -6.0%) 100%);
}

.separator:horizontal .line {
    -fx-background-insets: 1 3 1 3, 4 8 4 8; /* as i know insets only apply to background not border */ 
    -fx-border-width: 1; /* width of line/border */
    -fx-border-radius: 5;
    -fx-border-style: dashed;
    -fx-padding: 0 0 0 0; /* change this to : 1 0 0 0 and only thin line will be visible for "stronger/fatter" line change to 1 1 1 1 */
}

.tooltip {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color:  linear-gradient(#ffffff, #f2f2f2);
    -fx-font-size: 10px;
    -fx-border-color: #4682b4;
}

#title {
    -fx-font-family: "Open Sans";
    -fx-font-size: 12px;
}

#title:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

#smalltext {
    -fx-font-size: 12px;
}

#smalltext:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

#logtable .table-view {
    -fx-font-size: 12px;
}

#messagestable .table-view {
    -fx-font-size: 12px;
}

#resultstable .table-view {
    -fx-font-size: 12px;
}
