.ttip{
    -fx-background-radius: 7 7 7 7;
    -fx-background-color:  linear-gradient(#ffffff, #f2f2f2);
    -fx-font-size: 12px;
    -fx-border-color: #4682b4;
}

 .root{
    -fx-background-color: #ffffff;
}
 
.page-corner {
    -fx-shape: " ";
}

